
H2 {
	text-shadow:
	  -1px -1px #000,
	  0 1px 0 #444;
	color: #222;
	transition: all 1s;
  }
  
  H2:hover {
	text-shadow:
	  -1px -1px #000,
	  0 1px 0 #444;
	color: #1A1A1A;
  }
body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/1f0dcbad-2ce1-4ad3-a3b4-9948ecb829e2.jpg) center / cover no-repeat;
    filter: blur(5px); /* Размытие */
   }
.back-content_1::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/a561529c-a5eb-4ebc-a9fb-e566e3169751.jpg) center / cover no-repeat;
   }
   .back-content_2::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/3a0c8210-db96-41f2-b177-7f0cd1c91d48.jpg) center / cover no-repeat;
   }
   .back-content_3::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/photo_5368616392112333087_m.jpg) center / cover no-repeat;
   }

h1{
	display: flex;
	align-items: center;
	justify-content: center;
}
.card_wraper{
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-3d {
	position: relative;
	cursor: pointer;
	width: 340px;
	height: 480px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.front,
.back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}

.front img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.front {
	transform: perspective(600px) rotateY(0deg);
}

.back {
	background: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
}

.back-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #2c3e50;
	text-align: center;
	width: 100%;
	height: 100%;
}

.back-content ul {
	margin-top: 40px;
	font-size: 18px;
	line-height: 1.3;
	font-weight: 500;
	text-align: left;
	padding: 0;
}

.card-3d:hover>.front {
	transform: perspective(600px) rotateY(-180deg);
}

.card-3d:hover>.back {
	transform: perspective(600px) rotateY(0deg);
}            